/* Carousel */
.carousel-item {
	height: 80vh;
}

.carousel-item img {
	width: 100%;
	height: 100%;
	object-position: center center;
	object-fit: cover;
	min-height: 35rem;
}

.carousel-caption {
	bottom: 40%;
	z-index: 2;
}

.carousel-caption h5 {
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}

.carousel-inner:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

/* Números */
.offer .cards .card {
	width: 16rem;
	height: 8rem;
	color: #fffffc;
	background-color: var(--primary-color);
	border-radius: 10px;
	text-align: center;
}

.offer .card i {
	color: var(--text-white);
	font-size: 2.6rem;
	margin-bottom: 10px;
}

.offer .card-text {
	color: rgba(255, 255, 255, 0.85);
}

/* Categories */
.categories .card {
	width: 15rem;
	height: 17rem;
	border: none;
	border-radius: 10px;
	margin-right: 1rem;
	margin-top: 1rem;
	background: #fff;
	box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
	transition: all 0.3s ease-in-out;
}

.categories .card:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.categories .card .icon {
	width: 3rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 2rem;
}

.categories .card h5 {
	height: 2.5rem;
	border-radius: 10px;
	margin: 1rem 0;
}

.categories .card i {
	color: black;
}

.categories .card .btn {
	height: 2.3rem;
	color: var(--text-white);
	left: 9.8rem;
}

.categories .card .btn:hover {
	background-color: var(--primary-color);
}

.categories .card .btn i {
	font-size: 1.5rem;
	opacity: 0.7;
}

.categories .card .btn:hover i {
	color: var(--text-white);
	opacity: 1;
}

/* Courses */
.courses .card {
	width: 20rem;
	border: none;
	background-color: white;
}

.courses .card img {
	height: 145px;
}

.courses .card .category-group {
	width: 8rem;
	height: 100%;
	font-size: 0.85rem;
	text-align: center;
	border-radius: 5px;
}

.courses .card .d-flex {
	height: 2rem;
	justify-content: space-between;
	align-items: center;
}

.courses .card .price {
	color: var(--primary-color);
	font-weight: bold;
}

.courses .card .card-text {
	font-size: 0.7rem;
	margin-bottom: 0;
}

.courses .card .card-body .card-title {
	height: 2.5rem;
}

.courses .card .btn {
	color: var(--text-white);
	background-color: var(--primary-color);
	cursor: pointer;
}

.courses .card .btn:hover {
	color: var(--text-white);
	background-color: var(--secondary-color);
}

.courses .rating-group-text {
	font-size: 0.9rem;
}

.courses .rating-group-text:first-child {
	margin-right: 0.2rem;
}

.courses .rating-group-text:last-child {
	margin-left: 0.2rem;
}

.rate-area {
	float: left;
	border-style: none;
}

.rate-area:not(:checked) > input {
	position: absolute;
	top: -9999px;
	clip: rect(0, 0, 0, 0);
}

.rate-area:not(:checked) > label {
	float: right;
	width: 0.8em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 140%;
	color: lightgrey;
}

.rate-area:not(:checked) > label:before {
	content: "★";
}
.rate-area > input:checked ~ label {
	color: var(--primary-color);
}

/* Como começar */
.how-to-start .row .card {
	width: 23rem;
	padding: 0.8rem;
	border-radius: 2px;
}

.how-to-start .row .step {
	width: 4rem;
	height: 3rem;
	color: var(--text-white);
	background-color: #cd022b;
	opacity: 0.8;
	font-size: 1.7rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 0;
}

/* Torne-se um professor */
.become-teacher .teacher-text-title span {
	color: var(--primary-color);
}

.become-teacher .teacher-text-description {
	text-align: justify;
}

/* Media Queries */
@media (max-width: 992px) {
	li .my-btn-primary,
	li .my-btn-secondary {
		margin-top: 1rem;
	}

	.offer .cards .card {
		margin: 1rem 0 0 0;
	}

	.how-to-start .row .card {
		width: 100%;
		margin-top: 1rem;
	}
}

@media (max-width: 576px) {
	.input-group {
		width: 100%;
	}

	.carousel-caption {
		bottom: 30%;
	}

	.carousel-caption h5 {
		font-size: 2rem;
	}

	.carousel-caption p {
		width: 100%;
		line-height: 1.4;
	}

	.offer .cards .card {
		margin: 1rem 0 0 0;
	}

	.courses .row {
		justify-content: center !important;
	}

	.categories .row {
		justify-content: center !important;
	}

	.become-teacher h1 {
		text-align: center;
	}

	.become-teacher button {
		width: 100%;
	}
}
